:root[data-theme='light'] {
  // app
  --APP_BrandColor: #e45009;
  --App_Background: #f3f3f3;
  --APP_FontSize: 13px;
  --APP_HtmlColor: #444;
  --APP_AHerfColor: var(--APP_BrandColor);
  --APP_Scroller-Background: rgba(0, 0, 0, 0.1);
  --APP_Loading-Color: rgba(0, 0, 0, 0.05);
  // side menu
  --SideMenu_Container_Background: #f3f3f3;
  --SideMenu_Avatar_Background: rgba(0, 0, 0, 0.05);
  --SideMenu_LoginName_Color: #444;
  // menu item
  --SideMenu_Menu_Color: rgb(101, 119, 134);
  --SideMenu_Menu_Color__Hover: #000;
  --SideMenu_Menu_Color__Active: #000;

  --SideMenu_Menu_Background: transparent;
  --SideMenu_Menu_Background__Hover: transparent;
  --SideMenu_Menu_Background__Active: rgba(0, 0, 0, 0.04);

  --SideMenu_Menu_BorderColor: transparent;
  --SideMenu_Menu_BorderColor__Hover: transparent;
  --SideMenu_Menu_BorderColor__Active: rgba(0, 0, 0, 0.1);

  --SideMenu_MenuIcon_Color: var(--SideMenu_Menu_Color);
  --SideMenu_MenuIcon_Color__Hover: #000;
  --SideMenu_MenuIcon_Color__Active: #fff;

  --SideMenu_MenuIcon_Background: rgba(0, 0, 0, 0.1);
  --SideMenu_MenuIcon_Background__Hover: rgba(0, 0, 0, 0.15);
  --SideMenu_MenuIcon_Background__Active: var(--APP_BrandColor);
  // tag
  --SideMenu_Tag_Color: rgb(101, 119, 134);
  --SideMenu_Tag_Color__Hover: var(--SideMenu_Menu_Color__Hover);
  --SideMenu_Tag_Color__Active: var(--SideMenu_Menu_Color__Active);

  --SideMenu_Tag_Background: transparent;
  --SideMenu_Tag_Background__Hover: transparent;
  --SideMenu_Tag_Background__Active: var(--SideMenu_Menu_Background__Active);

  --SideMenu_Tag_BorderColor: transparent;
  --SideMenu_Tag_BorderColor__Hover: transparent;
  --SideMenu_Tag_BorderColor__Active: var(--SideMenu_Menu_BorderColor__Active);

  --SideMenu_TagInput_Color: #000;
  --SideMenu_TagInput_Background: #fff;

  --SideMenu_TagToolButton_Color: #aaa;
  --SideMenu_TagToolButton_Color__Hover: #000;

  // language-item
  --SideMenu_LanguageItem_Color: var(--SideMenu_Tag_Color);
  --SideMenu_LanguageItem_Color__Hover: var(--SideMenu_Menu_Color__Hover);
  --SideMenu_LanguageItem_Color__Active: var(--SideMenu_Menu_Color__Active);

  --SideMenu_LanguageItem_Background: transparent;
  --SideMenu_LanguageItem_Background__Hover: transparent;
  --SideMenu_LanguageItem_Background__Active: var(
    --SideMenu_Menu_Background__Active
  );

  --SideMenu_LanguageItem_BorderColor: transparent;
  --SideMenu_LanguageItem_BorderColor__Hover: transparent;
  --SideMenu_LanguageItem_BorderColor__Active: var(
    --SideMenu_Menu_BorderColor__Active
  );

  // SyncButton
  --SideMenu_SyncButton_Color: #888;
  --SideMenu_SyncButton_Color__Hover: #000;

  --SideMenu_SyncButton_Background: transparent;
  --SideMenu_SyncButton_Background__Hover: rgba(0, 0, 0, 0.1);

  --SideMenu_SyncButton_BorderColor: rgba(0, 0, 0, 0.2);

  // IconButton
  --SideMenu_IconButton_Color: #888;
  --SideMenu_IconButton_Color__Hover: #000;

  --SideMenu_IconButton_Background: rgba(0, 0, 0, 0.1);
  --SideMenu_IconButton_Background__Hover: rgba(0, 0, 0, 0.15);

  //repo List
  --RepoList_Background: #fafafa;
  --RepoList_Search_Color: #000;
  --RepoList_Search_Background: rgba(0, 0, 0, 0.1);

  //repo Card
  --RepoCard_Background: transparent;
  --RepoCard_Background__Hover: transparent;
  --RepoCard_Background__Active: #fff;

  --RepoCard_Indictor_Background: transparent;
  --RepoCard_Indictor_Background__Hover: rgba(0, 0, 0, 0.1);
  --RepoCard_Indictor_Background__Active: var(--APP_BrandColor);

  --RepoCard_Title_Color: #111;
  --SideMenu_Title_Color__Hover: var(--APP_BrandColor);

  --RepoCard_Body_Color: #777;
  --RepoCard_Foot_Color: var(--RepoCard_Body_Color);

  // repo card tag
  --RepoCard_TagTogger_Color: #777;
  --RepoCard_TagTogger_Color__Hover: #000;

  --RepoCard_Tag_Color: #999;
  --RepoCard_Tag_Color__Hover: #000;
  --RepoCard_Tag_Color__Active: #fff;

  --RepoCard_Tag_Background: transparent;
  --RepoCard_Tag_Background__Hover: transparent;
  --RepoCard_Tag_Background__Active: var(--APP_BrandColor);

  --RepoCard_Tag_BorderColor: #999;
  --RepoCard_Tag_BorderColor__Hover: #999;
  --RepoCard_Tag_BorderColor__Active: var(--APP_BrandColor);

  // repo card Action Button
  --RepoCard_Tag_CancleButton_Color: #444;
  --RepoCard_Tag_CancleButton_Color__Hover: #000;

  --RepoCard_Tag_CancleButton_Background: #c0c0c0;
  --RepoCard_Tag_CancleButton_Background__Hover: #aaa;

  --RepoCard_Tag_CancleButton_BorderColor: transparent;
  --RepoCard_Tag_CancleButton_BorderColor__Hover: transparent;

  --RepoCard_Tag_ConfirmButton_Color: #ddd;
  --RepoCard_Tag_ConfirmButton_Color__Hover: #fff;

  --RepoCard_Tag_ConfirmButton_Background: #4a9600;
  --RepoCard_Tag_ConfirmButton_Background__Hover: #5a9600;

  --RepoCard_Tag_ConfirmButton_BorderColor: transparent;
  --RepoCard_Tag_ConfirmButton_BorderColor__Hover: transparent;

  // detail view
  --RpoeDetail_Background: #fff;

  --RpoeDetail_IconButton_Color: #aaa;
  --RpoeDetail_IconButton_Color__Hover: #000;

  --ReadMe-Color: var(--APP_HtmlColor);
  --ReadMe-Pre-Color: #d1e8ff;
  --ReadMe-Pre-Background: #444;
  --ReadMe-Blockquote-Color: var(--ReadMe-Color);
  --ReadMe-Hr-BorderColor: rgba(0, 0, 0, 0.05);
  // color: #dfadff;
  // color: #ff774b;
  --ReadMe-AHref-Color: var(--APP_BrandColor);
}
